Repository zbw/lori: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, test, pushLoriAppImage, pushLoriImportJobImage, pushTemplateApplyJobImage, deployToQs, deployToProd, deployImportJobToQs, deployImportJobToProd, deployTemplateApplyJobToQs, deployTemplateApplyJobToProd

build:
  stage: build
  tags:
  - dockersocket
  script:
  - ./gradlew assemble --parallel
  artifacts:
    paths:
    - build/libs/*.jar
    expire_in: 1 week

test:
  stage: test
  needs:
  - build
  dependencies:
  - build
  tags:
  - privileged
  script:
  - ./gradlew check --parallel
  artifacts:
    when: always
    reports:
      junit: app/*/**/TEST-*.xml

pushLoriAppImage:
  stage: push
  needs:
  - test
  dependencies:
  - test
  tags:
  - dockersocket
  script:
  - ./gradlew :app:lori:server:jibBuildTar
  - command -v ssh-agent >/dev/null || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  - chmod 400 "$SSH_PRIVATE_KEY_IMAGEPUSHER"
  ...

pushLoriImportJobImage:
  stage: push
  needs:
  - build
  dependencies:
  - build
  tags:
  - dockersocket
  script:
  - ./gradlew :job:lori_import:jibBuildTar
  - command -v ssh-agent >/dev/null || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  - chmod 400 "$SSH_PRIVATE_KEY_IMAGEPUSHER"
  ...

pushTemplateApplyJobImage:
  stage: push
  needs:
  - build
  dependencies:
  - build
  tags:
  - dockersocket
  script:
  - ./gradlew :job:template_apply:jibBuildTar
  - command -v ssh-agent >/dev/null || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  - chmod 400 "$SSH_PRIVATE_KEY_IMAGEPUSHER"
  ...

deployToQs:
  stage: deploy
  needs:
  - pushLoriAppImage
  environment: qs
  image:
    name: $ALPINE
  script:
  - command -v ssh-agent >/dev/null || ( apk add --update openssh-client )
  - eval $(ssh-agent -s)
  - chmod 400 "$SSH_PRIVATE_KEY_DOCKER_QS"
  - base64 -d "$SSH_PRIVATE_KEY_DOCKER_QS" | ssh-add -
  - mkdir -p ~/.ssh
  ...

deployToProd:
  stage: deploy
  when: manual
  needs:
  - pushLoriAppImage
  environment: production
  image:
    name: $ALPINE
  script:
  - command -v ssh-agent >/dev/null || ( apk add --update openssh-client )
  - eval $(ssh-agent -s)
  - chmod 400 "$SSH_PRIVATE_KEY_DOCKER_PROD"
  ...

deployImportJobToQs:
  stage: deploy
  needs:
  - pushLoriImportJobImage
  environment: qs
  image:
    name: $ALPINE
  script:
  - command -v ssh-agent >/dev/null || ( apk add --update openssh-client )
  - eval $(ssh-agent -s)
  - chmod 400 "$SSH_PRIVATE_KEY_DOCKER_QS"
  - base64 -d "$SSH_PRIVATE_KEY_DOCKER_QS" | ssh-add -
  ...

deployImportJobToProd:
  stage: deploy
  when: manual
  needs:
  - pushLoriImportJobImage
  environment: production
  image:
    name: $ALPINE
  script:
  - command -v ssh-agent >/dev/null || ( apk add --update openssh-client )
  - eval $(ssh-agent -s)
  - chmod 400 "$SSH_PRIVATE_KEY_DOCKER_PROD"
  ...

deployTemplateApplyJobToQs:
  stage: deploy
  needs:
  - pushTemplateApplyJobImage
  environment: qs
  image:
    name: $ALPINE
  script:
  - command -v ssh-agent >/dev/null || ( apk add --update openssh-client )
  - eval $(ssh-agent -s)
  - chmod 400 "$SSH_PRIVATE_KEY_DOCKER_QS"
  - base64 -d "$SSH_PRIVATE_KEY_DOCKER_QS" | ssh-add -
  ...

feat(680): allow bookmarking only for successful non trivial searches
  app/lori/server/ui/src/components/ItemList.vue
  app/lori/server/ui/src/components/SearchFilter.vue
  app/lori/server/ui/src/stores/search.ts
Due: build, test, pushLoriAppImage, deployToQs, deployToProd

feat(537): change tracer better suited for java agen
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/LoriGrpcServer.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/LoriServer.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/AboutRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/BookmarkRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/BookmarkTemplateRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/ErrorRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/GroupRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/GuiRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/ItemRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/MetadataRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/RightRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/TemplateRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/UsersRoutes.kt
Due: build, test, pushLoriAppImage, deployToQs, deployToProd

fix: apply ktlint
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/LoriServer.kt
Due: build, test, pushLoriAppImage, deployToQs, deployToProd

fix: template apply had wrong address
  job/template_apply/src/main/kotlin/de/zbw/job/templateapply/Main.kt
Due: build, pushTemplateApplyJobImage, deployTemplateApplyJobToQs, deployTemplateApplyJobToProd

ci: pushLoriAppImage is an optional job
  .gitlab-ci.yml
Due: none

ci: some stages might not exists; add needs:optional
  .gitlab-ci.yml
Due: none

fix: templateApply push
  app/lori/server/DEPLOY.md
Due: build, test, pushLoriAppImage, deployToQs, deployToProd

fix: deploy template apply
  job/template_apply/DEPLOY.md
Due: build, pushTemplateApplyJobImage, deployTemplateApplyJobToQs, deployTemplateApplyJobToProd

feat(677): move search filter buttons to main window
  app/lori/server/ui/src/components/ItemList.vue
  app/lori/server/ui/src/components/SearchFilter.vue
Due: build, test, pushLoriAppImage, deployToQs, deployToProd

feat(543): adjust helper text in group edits
  app/lori/server/ui/src/components/GroupEdit.vue
Due: build, test, pushLoriAppImage, deployToQs, deployToProd

feat(665): hide template metadata on default
  app/lori/server/ui/src/components/RightsEditDialog.vue
Due: build, test, pushLoriAppImage, deployToQs, deployToProd

feat(682): add filter for deletions
  app/lori/api/src/main/openapi/bookmark.model.yaml
  app/lori/api/src/main/openapi/item.api.yaml
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/ItemRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/QueryParameterParser.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/RestConverter.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/SearchFilter.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/Bookmark.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/BookmarkDB.kt
  app/lori/server/src/main/resources/db/migration/V93__BOOKMARK_DELETIONS_FILTER.sql
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/type/RestConverterTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/BookmarkDBTest.kt
  app/lori/server/ui/src/api/api.ts
  app/lori/server/ui/src/api/bookmarkApi.ts
  app/lori/server/ui/src/components/BookmarkSave.vue
  app/lori/server/ui/src/components/ItemList.vue
  app/lori/server/ui/src/components/SearchFilter.vue
  app/lori/server/ui/src/stores/search.ts
  app/lori/server/ui/src/utils/searchquerybuilder.ts
Due: build, test, pushLoriAppImage, deployToQs, deployToProd

feat(666): change vertical size of description field in RightsEditDialog
  app/lori/server/ui/src/components/RightsEditDialog.vue
Due: build, test, pushLoriAppImage, deployToQs, deployToProd

fix(683): dashboard: obsolete template filter replaced by context filter
  app/lori/api/src/main/openapi/error.api.yaml
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/ErrorRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/QueryParameterParser.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/RestConverter.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/DashboardSearchFilter.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/ErrorQueryResult.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/utils/DashboardUtil.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/ErrorRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/RightErrorFilterTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/RightErrorDBTest.kt
  app/lori/server/ui/src/api/rightErrorApi.ts
Due: build, test, pushLoriAppImage, deployToQs, deployToProd

feat(676): add play button in bookmarks overview
  app/lori/server/ui/src/components/BookmarkOverview.vue
  app/lori/server/ui/src/components/BookmarkSave.vue
  app/lori/server/ui/src/components/ItemList.vue
Due: build, test, pushLoriAppImage, deployToQs, deployToProd

fix: when collecting errors prevent stack overflows
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/LoriGrpcServer.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/connector/DAConnector.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/ErrorRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/ItemDB.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/MetadataDB.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/LoriGrpcServerTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/FindErrorsTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/ItemDBTest.kt
Due: build, test, pushLoriAppImage, deployToQs, deployToProd

feat(678): export tool: still wip
  app/lori/api/src/main/openapi/download.api.yaml
  app/lori/api/src/main/openapi/job.api.yaml
  app/lori/api/src/main/openapi/job.model.yaml
  app/lori/api/src/main/openapi/openapi.yaml
  app/lori/server/.gitignore
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/ServicePoolWithProbes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/config/LoriConfiguration.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/ItemRoutes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/JobRoute.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/RestConverter.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/export/ExportJobService.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/export/ExportSession.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/ExportJob.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/ItemTypes.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/ConnectionPool.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/DatabaseConnector.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/JobDB.kt
  app/lori/server/src/main/resources/db/migration/V94__JOB_TABLE.sql
  app/lori/server/src/main/resources/lori.properties
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/ServicePoolWithProbesTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/config/LoriConfigurationTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/ItemRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/RightRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/JobDBTest.kt
  app/lori/server/ui/src/api/jobApi.ts
  app/lori/server/ui/src/components/ItemList.vue
Due: build, test, pushLoriAppImage, deployToQs, deployToProd

fix: downgrade one log entry to debug again
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/connector/DAConnector.kt
Due: build, test, pushLoriAppImage, deployToQs, deployToProd

temp: temop
  app/lori/api/src/main/openapi/job.api.yaml
  app/lori/api/src/main/openapi/job.model.yaml
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/JobRoute.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/RestConverter.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/export/ExportJobService.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/export/ExportSession.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/ExportJob.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/ItemTypes.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/OffsetDateTimeSerializer.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/utils/JSONUtil.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/JobDB.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/MetadataDB.kt
  app/lori/server/src/main/resources/db/migration/V94__JOB_TABLE.sql
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/JobDBTest.kt
  app/lori/server/ui/src/api/jobApi.ts
  app/lori/server/ui/src/components/ItemList.vue
Due: build, test, pushLoriAppImage, deployToQs, deployToProd

feat: add polling and download rest endpoint
  app/lori/api/src/main/openapi/download.api.yaml
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/ServicePoolWithProbes.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/DownloadRoute.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/JobRoute.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/export/ExportJobService.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/ItemTypes.kt
  app/lori/server/ui/src/components/ItemList.vue
  app/lori/server/ui/src/utils/url.ts
Due: build, test, pushLoriAppImage, deployToQs, deployToProd

feat: use better UX design for displaying download is ready
  .gitignore
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/config/LoriConfiguration.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/ItemTypes.kt
  app/lori/server/src/main/resources/lori.properties
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/ServicePoolWithProbesTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/config/LoriConfigurationTest.kt
  app/lori/server/ui/src/components/ItemList.vue
Due: build, test, pushLoriAppImage, deployToQs, deployToProd

build: extract kotlin version to gradle.properties
  buildSrc/build.gradle.kts
  gradle.properties
Due: build, test

test: write tests for most new code
  app/lori/api/src/main/proto/de/zbw/lori/api/v1/lori_model.proto
  app/lori/api/src/main/proto/de/zbw/lori/api/v1/lori_service.proto
  app/lori/client/src/main/kotlin/de/zbw/api/lori/client/LoriClient.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/LoriGrpcServer.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/DownloadRoute.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/export/ExportJobService.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/export/ExportSession.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/ExportJob.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/JobDB.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/MetadataDB.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/DownloadRoutesTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/JobRoutesTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/RightRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/JobDBTest.kt
  job/template_apply/src/main/kotlin/de/zbw/job/templateapply/Main.kt
Due: build, test, pushLoriAppImage, pushTemplateApplyJobImage, deployToQs, deployToProd, deployTemplateApplyJobToQs, deployTemplateApplyJobToProd

fix: ktlint error
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/LoriGrpcServer.kt
Due: build, test, pushLoriAppImage, deployToQs, deployToProd

fix: parse download directory correctly
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/config/LoriConfiguration.kt
Due: build, test, pushLoriAppImage, deployToQs, deployToProd

fix: allow export without authenticate
  app/lori/api/src/main/openapi/job.api.yaml
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/JobRoute.kt
  app/lori/server/ui/src/components/ItemList.vue
Due: build, test, pushLoriAppImage, deployToQs, deployToProd

build: bump kotlint version to 2.20.0 and all gradle plugins versions
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/GrpcServer.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/JobRoute.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/StaticRoute.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/ItemTypes.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/LoriServerBackendTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/type/SearchExpressionTest.kt
  buildSrc/build.gradle.kts
  gradle.properties
Due: build, test, pushLoriAppImage, deployToQs, deployToProd

fix(678): reset download button on new searches
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/export/ExportJobService.kt
  app/lori/server/ui/src/components/ItemList.vue
Due: build, test, pushLoriAppImage, deployToQs, deployToProd

fix: remove trailing delimiter when exporting csv
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/ItemTypes.kt
Due: build, test, pushLoriAppImage, deployToQs, deployToProd

fix: tests for templateapplication
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/LoriGrpcServer.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/TemplateApplication.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/TemplateApplicationResult.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/LoriGrpcServerTest.kt
  app/lori/server/src/test/kotlin/de/zbw/business/lori/server/ApplyTemplateTest.kt
  job/template_apply/src/main/kotlin/de/zbw/job/templateapply/Main.kt
Due: build, test, pushLoriAppImage, pushTemplateApplyJobImage, deployToQs, deployToProd, deployTemplateApplyJobToQs, deployTemplateApplyJobToProd

fix(689): improve mail content
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/LoriGrpcServer.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/watchdog/JobWatchdog.kt
Due: build, test, pushLoriAppImage, deployToQs, deployToProd

feat(689): add mail service for informing mailing list on problems
  app/lori/api/src/main/proto/de/zbw/lori/api/v1/lori_model.proto
  app/lori/api/src/main/proto/de/zbw/lori/api/v1/lori_service.proto
  app/lori/server/build.gradle.kts
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/LoriGrpcServer.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/LoriServer.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/config/LoriConfiguration.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/DownloadRoute.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/route/JobRoute.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/type/RestConverter.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/watchdog/JobWatchdog.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/LoriServerBackend.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/export/ExportJobService.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/mail/MailService.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/ExportJob.kt
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/type/GenericJob.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/DatabaseConnector.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/ExportJobDB.kt
  app/lori/server/src/main/kotlin/de/zbw/persistence/lori/server/GenericJobDB.kt
  app/lori/server/src/main/resources/db/migration/V95__GENERIC_JOB_TABLE.sql
  app/lori/server/src/main/resources/lori.properties
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/LoriGrpcServerTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/ServicePoolWithProbesTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/config/LoriConfigurationTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/DownloadRoutesTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/ItemRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/JobRoutesTest.kt
  app/lori/server/src/test/kotlin/de/zbw/api/lori/server/route/RightRoutesKtTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/ExportJobDBTest.kt
  app/lori/server/src/test/kotlin/de/zbw/persistence/lori/server/GenericJobDBTest.kt
  buildSrc/src/main/kotlin/zbw.kotlin-mail.gradle.kts
  gradle.properties
Due: build, test, pushLoriAppImage, deployToQs, deployToProd

feat(672): when end date is due no longer apply the template
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/TemplateApplication.kt
  app/lori/server/ui/src/components/TemplateOverview.vue
  app/lori/server/ui/src/utils/date_utils.ts
Due: build, test, pushLoriAppImage, deployToQs, deployToProd

fix: make summary not null
  app/lori/server/src/main/resources/db/migration/V96__ALTER_GENERIC_JOB_SUMMARY.sql
Due: build, test, pushLoriAppImage, deployToQs, deployToProd

fix: delete unused import
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/mail/MailService.kt
Due: build, test, pushLoriAppImage, deployToQs, deployToProd

fix: ktlint
  app/lori/server/src/main/kotlin/de/zbw/business/lori/server/TemplateApplication.kt
Due: build, test, pushLoriAppImage, deployToQs, deployToProd

ci: redeploy jobs
  .gitlab-ci.yml
  job/lori_import/DEPLOY.md
  job/template_apply/DEPLOY.md
Due: build, pushLoriImportJobImage, pushTemplateApplyJobImage, deployImportJobToQs, deployImportJobToProd, deployTemplateApplyJobToQs, deployTemplateApplyJobToProd

ci: more fixes
  .gitlab-ci.yml
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/LoriGrpcServer.kt
Due: build, test, pushLoriAppImage, deployToQs, deployToProd

fix: better error message, configuration for jobs and clean job
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/LoriGrpcServer.kt
  app/lori/server/src/main/kotlin/de/zbw/api/lori/server/watchdog/JobWatchdog.kt
  job/lori_import/build.gradle.kts
  job/lori_import/src/main/kotlin/de/zbw/job/loriiimport/Main.kt
  job/lori_import/src/main/kotlin/de/zbw/job/loriiimport/config/LoriConfiguration.kt
  job/lori_import/src/main/kotlin/de/zbw/job/loriiimport/config/LoriConfigurations.kt
  job/lori_import/src/main/resources/loriimport.properties
  job/template_apply/build.gradle.kts
  job/template_apply/src/main/kotlin/de/zbw/job/templateapply/Main.kt
  job/template_apply/src/main/kotlin/de/zbw/job/templateapply/config/LoriConfiguration.kt
  job/template_apply/src/main/kotlin/de/zbw/job/templateapply/config/LoriConfigurations.kt
  job/template_apply/src/main/resources/templateapply.properties
Due: build, test, pushLoriAppImage, pushLoriImportJobImage, pushTemplateApplyJobImage, deployToQs, deployToProd, deployImportJobToQs, deployImportJobToProd, deployTemplateApplyJobToQs, deployTemplateApplyJobToProd

fix(666): default description height set to 2 rows
  app/lori/server/ui/src/components/RightsEditDialog.vue
Due: build, test, pushLoriAppImage, deployToQs, deployToProd

Path conditions:
  build: any of: app/**/*, buildSrc/**/*, job/**/*
  test: any of: app/**/*, buildSrc/**/*
  pushLoriAppImage: any of: app/lori/**/*
  pushLoriImportJobImage: any of: job/lori_import/**/*
  pushTemplateApplyJobImage: any of: job/template_apply/**/*
  deployToQs: any of: app/lori/**/*
  deployToProd: any of: app/lori/**/*
  deployImportJobToQs: any of: job/lori_import/**/*
  deployImportJobToProd: any of: job/lori_import/**/*
  deployTemplateApplyJobToQs: any of: job/template_apply/**/*
  deployTemplateApplyJobToProd: any of: job/template_apply/**/*
